@inherits LayoutComponentBase

<nav class="is-nav">
    <div class="is-nav__inner">
        <a class="is-nav__brand" href="">InnerSky</a>
        <div class="is-nav__links">
            <NavLink class="is-nav__link" href="" Match="NavLinkMatch.All">Builder</NavLink>
            <NavLink class="is-nav__link" href="moments">Moments</NavLink>
        </div>
    </div>
</nav>

<main class="is-main">
    @Body
</main>
